@use 'base/mixins' as m;
@use 'base/variables' as v;

.slider{

    overflow: hidden;
    position: relative;
   

    &__slide{
       
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;  
    }

    &__imagen1, 
    &__imagen2,
    &__imagen3{

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height:45rem ;

        @include m.tablet{
            min-height: 45rem;
        }

    }

    &__imagen1{
        background-image: url(../img/docencia.jpg);

        
      
    }


    &__imagen2{
        background-image: url(../img/practica.jpg);
      

    }

    &__imagen3{
       background-image: url(../img/vinculacion.jpg);   
    }

    @include m.tablet{

        &__imagen3{
            background-image: url(../img/vinculacion.jpg);
            background-position: center -60px;
    
    
            
        }

    }

    &__contenido{
        max-width: 50rem;
        margin: auto;
        transform: translateY(9rem);
        text-align: center;
        padding: 5rem;



        @include m.tablet{
            min-width: 75rem;
            margin: auto;
            transform: translateY(15rem);
            text-align: center;
           
        }
       

    }

    &__heading{
        color: v.$blanco;
        text-transform: capitalize;
        font-size: 3.5rem;
        font-family: v.$fuenteTerciaria;
        font-weight: bold;
        margin: 0;

        @include m.tablet{

            font-size: 5rem;
        }
        

    }

    &__texto{
        color: v.$blanco;
        font-size: 1.5rem;
        margin: 0;
        font-family: v.$fuenteTerciaria;

        @include m.tablet{

            font-size: 1.8rem;
        }
        

    }
}

/* Esto es lo que compete al slider Siguiente. Puntero */

.swiper-button-next, .swiper-rtl .swiper-button-prev{

    color: v.$blanco;
    opacity: .8;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color: v.$blanco;
    opacity: .8;
}

.swiper-pagination-bullet-active{

   background-color: v.$blanco;
   opacity: 0.8;
}

