@use 'base/mixins' as m;
@use 'base/variables' as v;


.nosotros{
    

    &__grid{

        @include m.tablet{
            
            @include m.grid(2, 0rem);
        }
    } 
}


/* Aqui va el nosotros de Inicio */
  
.nosotro{
    text-align: center;
   


    padding: 10rem 5rem;
    &--mision, 
    &--vision{
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    &--mision{
        background-image: url(../img/mision-nosotro.jpg); 
      

            
    }

    &--vision{
        background-image: url(../img/vision-nosotro.jpg);
        background-position: top ;
    }

    &__heading{
        margin: 0;
        color: v.$blanco;
        font-family: v.$fuenteTerciaria;
        text-transform: capitalize;
        font-size: 4rem;
        

        
    }

    &__texto{
        margin-top: 1rem;
        color: v.$blanco;
        font-size: 1.8rem;
        font-family: v.$fuenteTerciaria;
       

    }
}

