@use 'base/mixins' as m;
@use 'base/variables' as v;


.nosotros{
    

    &__grid{

        @include m.tablet{
            
            @include m.grid(2, 0rem);
        }
    } 
}


.nosotro{
    text-align: center;


    padding: 8.5rem 5rem;
    &--mision, 
    &--vision{
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

 

    &--mision{
        background-image: url(../img/mision-nosotro.jpg);
    }

    &--vision{
        background-image: url(../img/vision-nosotro.jpg);
       
    }

    &__heading{
        color: v.$blanco;
        text-transform: capitalize;
        font-size: 4rem;

        
    }

    &__texto{
        color: v.$blanco;
        font-size: 1.8rem;

    }
}

