@use 'base/mixins' as m;
@use 'base/variables' as v;


.lema{
    &__contenido{ 
        min-height: 26rem;  
       
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }


    &__uleam{
     
        
        text-align: center;
        
        font-size: 4rem;
        font-family: 'Cedarville Cursive', cursive;
        font-weight: bold;
        color:#000000 ;
        font-style: italic;
        position: relative; 
        margin: 0; 
        margin-left: -30rem;
        
        
        
        

    }


    &__uleamSpan{

        text-align: center;

        font-size: 4rem;
        font-family: 'Cedarville Cursive', cursive;
        font-weight: bold;
        color:#000000 ;
        font-style: italic;
        
        padding: 0;
        margin: 0;
       

        position: relative;


        @include m.tablet{
            &::after{

                content: '';
                background-image: url('../img/pluma-mano.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                
                width: 14rem;
                height: 17rem;
                display: inline-block;
                top: -11rem;
                position: absolute;  
            }
                
        }
      



    }


  

   
}