@use 'base/mixins' as m;
@use 'base/variables' as v;


.nosotro{
  
    

    

    padding: 10rem 5rem;

    &__mision{
        background-color: #121630;


      
        
        
        
    }

    &__vision{
        background-color: #44434D;    
    
    }



  



    &__contenido-right{

        padding: 4rem;
        

        @include m.tablet{
            @include m.grid(3, 0rem);
            padding: 0;
        }

    
        &::after{
           
          


            @include m.tablet{

                content: '';
                background-image: url(../img/ejecutivo.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0rem center;
                display: block;
                width: 30rem;
                height: 40rem;
                grid-row: 1/1;
                grid-column: 1/2;
                
    
                margin: -10rem 0 0 0;

            }
        }




    }

    &__descripcion-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        grid-column: 2/4;
        padding-right: 3rem;
    }



    &__contenido-left{

        padding: 4rem;
        @include m.grid(2, 0rem);

        @include m.tablet{

            @include m.grid(3, 0rem);
            padding: 0;
            
        }

        &::after{

            @include m.tablet{

            content: '';
            background-image: url(../img/ejecutiva.png);
            background-repeat: no-repeat;
            background-size: cover;

            background-position: -10rem 3rem;
            display: block;
            width: 30rem;
            height: 40rem;
            grid-row: 1/1;
            grid-column: 3/4;

            margin: -10rem 0 0 0rem;
            }

            
            
         
            
        }

    }

    &__descripcion-left{
        
        grid-column: 1/3;
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__heading-right,
    &__texto-right{
        color: v.$blanco;
        font-family: v.$fuenteTerciaria;



        
    }


    &__heading-right,
    &__heading-left {
        font-size: 2.5rem;

        @include m.tablet{
            font-size: 3.5rem;

        }
    }

    &__texto-right, 
    &__texto-left{ 
        font-size: 1.4rem;
        @include m.tablet{

            font-size: 1.5rem;

        }

    }




    &__heading-left,
    &__texto-left{
        color: v.$blanco;
        font-family: v.$fuenteTerciaria;
    }


}